<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Desker</title>
	<link rel="stylesheet" href="css/style.css">
</head>
<body>

	<div id="sticky_header">
		<a href="/"><img src="/assets/desker_logo_white.svg" alt="" id="desker_logo"></a>
    <!-- Pop-up Modal for User Sign up/Login -->
    <a href="#"  data-toggle="modal" data-target="#myModal">
      <img id="hamburger_menu" src="/assets/hamburger_placeholder.svg" alt="">
    </a>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          <button type="button" class="close" data-dismiss="modal">
            <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
          </button>
          <div role="tabpanel">

          <!-- Nav tabs -->
          <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Sign Up</a></li>
            <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Log In</a></li>
          </ul>

          <!-- Tab panes -->
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="home"><%= render :partial => "users/form" %> </div>
            <div role="tabpanel" class="tab-pane" id="profile"><%= render :partial => "session/form" %> </div>
          </div>

          </div>
        </div>
        
      </div>
    </div>
  </div>
	
		<div id="video_container">
			<video autoplay loop poster="photo-3.jpg" id="embedded_video">
	    	<source src="https://s3-ap-southeast-2.amazonaws.com/desker/desker_index_video.mp4" type="video/mp4">
	   	</video>

	   	<h1 id="take_your_seat">TAKE YOUR SEAT</h1>

	   	<h2 id="take_your_seat1">Find the perfect space to suit you</h2>

	   	 <div class="search">
	   	 <%= form_tag search_desks_path, method: :get do %>
            <%= text_field_tag :search, params[:search], id: "index_search", placeholder: "Where do you want to go?" %>
        <% end %>
        </div>

      <img id="double_down_arrow" src="/assets/double_down_arrow.png" alt="">
	  </div>


		<div id="about_desker">
			<h3>Find a space</h3>
			<h4>Everyone needs that particular spot that helps them create and innovate</h4>
			<h3>List a space</h3>
			<h4>Put that empty desk at the corner of the office to good use</h4>
		</div>
		
	  <div id="features">
	  	<a href="/desks/search?utf8=✓&search=perth"><img id="feature_images" src="/assets/desker_feature_perth.jpg" alt=""></a>
	  	<a href="/desks/search?utf8=✓&search=brisbane"><img id="feature_images" src="/assets/desker_feature_brisbane.jpg" alt=""></a>
	  	<a href="/desks/search?utf8=✓&search=sydney"><img id="feature_images" src="/assets/desker_feature_sydney.jpg" alt=""></a>
	  	<a href="/desks/search?utf8=✓&search=melbourne"><img id="feature_images" src="/assets/desker_feature_melbourne.jpg" alt=""></a>
	  </div>

</body>
</html>