@import "bootstrap";
@import 'bootstrap-datetimepicker';

/** 1.Navigation - Profile **/
.dropdown img {
  width: 40px;
  border-radius: 40px;
}

a #profile-image .dropdown-toggle {
  margin: -15px ;
}


/*Phil*/

#map_wrapper {
    height: 100vh;
    width: 50vw;
}

#map {
    width: 100%;
    height: 100%;
}

/*end*/