@import "bootstrap";
@import 'bootstrap-datetimepicker';

/** 1.Navigation - Profile **/
.dropdown img {
  width: 36px;
  border-radius: 91px
}

a #profile-image .dropdown-toggle  {
  padding: 0px ;
}

.form-group{
  margin-top: 15px;
}
/** 2.Sign In / Log in **/

.signin-wrapper {
  border: solid 1px;
  width: auto;
  max-width: 585px;
  padding: 10px;
  margin: 50px auto;
  background-color: rgba(0, 0, 0, 0.2);

}

.input-group-addon { 
    position: relative; 
}

/* style icon */
.input-group-addon .glyphicon {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}

/* align icon */
.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }

/*Phil*/

#map_wrapper {
	height: 100vh;
	width: 50vw;
	position: absolute;
	right: 0;
}

#map {
    width: 100%;
    height: 100%;
}

.navbar {
	max-height: 60px;
	margin: 0px;
}

.listings{
	width: 50vw;
	height: 100vh;
	overflow: scroll;
}

.show {
  overflow: scroll;
}
