// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:700);


body {
  margin: 0px;
}

#sticky_header {
  position: fixed;
  top: 0px;
  max-width: 100%;
  max-height: 50px;
  width: 100%;
  min-height: 20vh;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0);
  z-index: 10000;
}

#desker_logo {
  height: 20vh;
  margin: 10px;
}

#hamburger_menu {
  height: 5vh;
  right: 48px;
  top: 40px;
  position: absolute;
}

#video_container {
/*  height: 55vh;*/
  padding-top: 300px;
  height: 100vh;
  /*padding-top: 45vh;*/
}

video#embedded_video {
  position: fixed; left: 0; top: 0;
  min-width: 100%; min-height: 100%;
  width: auto; height: auto; z-index: -100;
  background: url(photo-3.jpg) no-repeat;
  background-size: cover;
}

#take_your_seat {
  text-align: center;
  color: white;
  font-family: 'Roboto Slab', serif;
  font-size: 70px;
  letter-spacing: 0.2em;
  margin: 0;
}

#index_search {
  position: relative;
  min-width: 300px;
  text-align: center;
  margin-left: 35%;
  margin-right: 65%;
  margin-top: 5%;
}

#double_down_arrow {
  position: relative;
  margin-left: 45%;
  margin-right: 55%;
  top: 45px;
}

.feature_container {
  
}

#features {
  position: relative;
  text-align: center; 
  width: 100vw;
  height: 100vh;
  background-color: #D59B8F;
  padding: 20px;
}

#feature_city_images {
  display: inline-block;
  margin: 20px;
}


