// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:700);


body {
  margin: 0px;
  padding: 0px;
}

.btn .btn-default {
  z-index: 1000;
}

#sticky_header {
  position: fixed;
  top: 0px;
  max-width: 100%;
  max-height: 50px;
  width: 100%;
  min-height: 20vh;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0);
  z-index: 1;
}

#desker_logo {
  height: 20vh;
  margin: 10px;
}

#hamburger_menu {
  height: 5vh;
  right: 48px;
  top: 40px;
  position: absolute;
  -webkit-transition-duration: 0.8s;
  -moz-transition-duration: 0.8s;
  -o-transition-duration: 0.8s;
  transition-duration: 0.8s;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  -o-transition-property: -o-transform;
  transition-property: transform;
  overflow:hidden;
}

#hamburger_menu:hover {
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -o-transform:rotate(180deg);
}

#video_container {
/*  height: 55vh;*/
  padding-top: 250px;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  /*padding-top: 45vh;*/
}

video#embedded_video {
  position: fixed; left: 0; top: 0;
  min-width: 100%; min-height: 100%;
  width: auto; height: auto; z-index: -100;
  background: url(photo-3.jpg) no-repeat;
  background-size: cover;

}

#take_your_seat {
  text-align: center;
  color: white;
  font-family: 'Roboto Slab', serif;
  font-size: 70px;
  letter-spacing: 0.2em;
  margin: 0;
  text-shadow: 0px 1px 10px rgba(0, 0, 0, 0.5);
}

#index_search {
  position: relative;
  min-width: 300px;
  text-align: center;
  margin-left: 35%;
  margin-right: 65%;
  margin-top: 5%;
}

.double_down_arrow {
  position: relative;
  margin-left: 45%;
  margin-right: 55%;
  top: 45px;
}

.feature_container1 {
  background-image: url("/assets/find_a_space.jpg");
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  background-position: center;
  background-size: cover;
  padding: 250px;
}

.feature_container1 h2, .feature_container2 h2 {
  font-size: 45px;
  text-shadow: 0px 1px 10px rgba(0, 0, 0, 0.5);
}

.feature_container2 {
  /*background-image: url("/assets/desker_empty_desk_no_border.jpg");*/
  background-image: url("/assets/empty_desks_alt.jpg");
  /*background-image: url("/assets/empty_desks.jpg");*/
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  background-position: center;
  background-size: cover;
  margin: 0;
  padding: 250px;
}

.feature_container1 h2, .feature_container1 h3, .feature_container2 h2, .feature_container2 h3, #features h2 {
  text-align: center;
  color: white;
  font-family: 'Roboto Slab', serif;
  text-shadow: 0px 1px 10px rgba(0, 0, 0, 0.5);
}

#features {
  position: relative;
  text-align: center; 
  width: 100vw;
  height: 120vh;
  background-color: #D59B8F;
  background-size: cover;
  padding: 15px;
  margin-bottom: 0px;
}

#features h2 {
  margin: 30px;
  font-size: 45px;
}

#nav-logo {
  position: relative;
  left: -18px;
  top: -10px;
}
#feature_city_images {
  display: inline-block;
  margin: 12px;
}

#feature_city_images:hover {
  opacity: 0.7;
  -webkit-box-shadow: 0px 0px 11px 2px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 11px 2px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 11px 2px rgba(0,0,0,0.75);
}

#empty_desk_feature {
  position: relative;
  text-align: center; 
  width: 100vw;
  height: 100vh;
}

#footer{
  bottom: 0px;
  max-width: 100%;
  max-height: 50px;
  width: 100%;
  min-height: 20vh;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0);
  z-index: 1;
  background-color: black;
  margin-top: 0px;
}

#footer h3 {
  text-align: center;
  color: white;
  font-family: 'Roboto Slab', serif;
  padding: 50px;
  margin: 0;
}
